<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>ERROR!</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Error!</h1>
        <p><%= message %><br><%= error.status %><br><%= error.stack %></p>
        <a href="/">Go back to home page</a>

        <% include footer.ejs %>
    </body>
</html>