<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>ERROR!</title>
        <meta charset="UTF-8">
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet">
    </head>
    <body>
        <h1>Error!</h1>
        <p><%= message %><br><%= error.status %><br><%= error.stack %></p>
        <a href="/">Go back to home page</a>

        <% include footer.ejs %>
    </body>
</html>