<!DOCTYPE HTML>
<html lang="en">
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <h1 class="header">THIS IS TEST</h1>
        <div class="area">
            <input type="text" placeholder="HERE!">
        </div>

        <% include footer.ejs %>
    </body>
</html>